# Ignore cscope files, so I can use them to index the C code without commiting them to the codebase.
cscope*
*~
.*.sw[a-z]
.nfs*
.cproject
.project
*.[oa]
*.lex.c
*.tab.[ch]
src/include/*
third-party/imap-2004g
third-party/libxml2_2.6.16-7sarge1
third-party/libxslt_1.1.12-8
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
conf/SAMPLE.CURRENTSERIAL
conf/delcheck*
conf/delegations.txt
conf/*_template
conf/*_text
conf/rip.config*
conf/sample.db.gz
conf/sources.config*
config.*
configure
depcomp
doc/*-HELP
libtool
ltmain.sh
missing
rpslvariant
src/.deps/
src/Makefile
src/Makefile.in
src/SQL/aux.index.2
src/SQL/create.*-stage
src/SQL/*.sql.patch
src/SQL/create.*.sql
src/SQL/leaf.index.2
src/SQL/main.index.1
src/dbupdate
src/defs/*.class
src/defs/Makefile
src/defs/Makefile.in
src/defs/makedefsall
src/defs/syntax_tab.h
src/getvar
src/loader
src/modules/rpsl/syntax
src/mr
src/opl-perl/*/Makefile
src/opl-perl/*/pm_to_blib
src/opl-perl/Makefile
src/opl-perl/Makefile.PL
src/opl-perl/RPSL.bs
src/opl-perl/RPSL.c
src/opl-perl/blib/
src/opl-perl/pm_to_blib
src/ripupdate
src/text_export
src/utils/*.pl
src/utils/*.sh
src/utils/make_db
src/utils/make_mysql_user
src/utils/ripe2rpsl
src/utils/runqueue
src/utils/whoisd.server
src/utils/whoisd_start
src/utils/wrapper
src/whois-server
stamp-h1
tests/dbupdate/testing/conf/dataset.config*
tests/dbupdate/testing/dump/
tests/dbupdate/testing/tmp
whoisd.pid
src/utils/enableupdates
