ModuleDiagnosticLevel 0
ModuleTemplatePath /home/agoston/workspace/whoisserver/conf/delcheck-template.xml

ParamMinimumNumberNameservers              3
ModuleNameserverIgnoreList                 ns.ripe.net
