ModuleDiagnosticLevel 0
ModuleTemplatePath /home/agoston/workspace/whoisserver/conf/delcheck-template.xml

ModuleNameserverIgnoreList         ns.ripe.net
ModuleNameserverIgnoreList         ns-v6.ripe.net
